<!--<div class="container">                                                             
  <div class="row">                                                               
      <div class="col-12">                                                        
          <div class="alert alert-primary">                                       
              If I'm in a blue 'alert' and centered Bootstrap is well installed!  
          </div>                                                                  
      </div>                                                                      
  </div>                                                                          
</div>
-->

<div class="container">
  <nav>
    <div class="row">
      <a routerLink="/">Home</a>
      <a>&ensp;|&ensp;</a>
      <a routerLink="/about">About</a>
      <a>&ensp;|&ensp;</a>
      <a routerLink="/todo">Todo App</a>
    </div>
  </nav>
  <hr>
</div>


<router-outlet></router-outlet>